<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <h1 class="navbar-brand">COVID-19 <span class="extra-header-text">Dashboard</span></h1>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        Edit
    </button>
</header>

{{outlet}}

<footer class="bg-dark text-white-50 offset-md-3 offset-lg-2" id="sticky-footer">
    <div>
        <p>
            <small>
                Data Provided By: <a href="https://covidtracking.com" target="_blank">The COVID Tracking
                    Project at <i>The Atlantic</i></a>,
                <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">COVID-19 Dashboard by the Center
                    for Systems Science and Engineering
                    (CSSE) at Johns Hopkins University</a>
                <br />
                Source code is published on GitHub <a href="https://github.com/willson556/covid-dashboard"
                    target="_blank"><img
                        src="https://img.shields.io/github/stars/willson556/covid-dashboard.js.svg?style=social&label=Star&maxAge=2592000" /></a>
            </small>
        </p>
    </div>
</footer>