<header>
    <h1>COVID-19 Dashboard</h1>
    <hr>
</header>

<div>
    {{outlet}}
</div>

<footer class="py-4 bg-dark text-white-50" id="sticky-footer">
    <div class="container">
        <p>
            <small>
                Data Provided By: <a href="https://covidtracking.com" target="_blank">The COVID Tracking
                    Project at <i>The Atlantic</i></a>, <a href="https://github.com/CSSEGISandData/COVID-19"
                    target="_blank">COVID-19 Dashboard by the Center for Systems Science and Engineering
                    (CSSE) at Johns Hopkins University</a>
            </small>
        </p>
        <p>
            <small>
                Source code is published on GitHub   <a href="https://github.com/willson556/covid-dashboard"
                    target="_blank"><img
                        src="https://img.shields.io/github/stars/willson556/covid-dashboard.js.svg?style=social&label=Star&maxAge=2592000" /></a>
            </small>
        </p>
    </div>
</footer>