<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <h1 class="navbar-brand">COVID-19 <span class="extra-header-text">Dashboard</span></h1>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        Edit
    </button>
</header>

{{outlet}}

<footer class="bg-dark text-white-50 offset-md-3 offset-lg-2" id="sticky-footer">
    <div>
        <p>
            <small>
                All data is run through a 7-day moving average filter.<br />
                Data Provided By: <a href="https://covidtracking.com" target="_blank">The COVID Tracking
                    Project at <i>The Atlantic</i></a>,
                <a href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html" target="_blank">The New York Times Coronavirus U.S. Tracker</a> (see their <a href="https://github.com/nytimes/covid-19-data">GitHub</a> for more details)
                Source code is published on <a href="https://github.com/willson556/covid-dashboard"
                    target="_blank">GitHub. <img
                        src="https://img.shields.io/github/stars/willson556/covid-dashboard.svg?style=social&label=Star&maxAge=2592000" /></a>
            </small>
        </p>
    </div>
</footer>