<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>COVID-19 Dashboard</h1>
            <hr>
        </div>
        <div id="left-col" class="col-md-3">
            <h3>Plots</h3>
            <PlotPicker class="overflow-auto" @id="plot-picker" />
            <h3>Locations</h3>
            <LocaleTree class="overflow-auto" @states={{@model}} @id="locale-tree" />
        </div>
        <div id="right-col" class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <Options />
                    <hr>
                </div>
                <div class="col-md-12">
                    <ChartManager />
                </div>
            </div>
        </div>
    </div>
</div>
