<div class="container-fluid">
    <div class="row flex-grow">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div  class="sidebar-sticky pt-3">
                <Options />
                <h3>Plots</h3>
                <PlotPicker @id="plot-picker" />
                <h3>Locations</h3>
                <LocaleTree @states={{@model}} @id="locale-tree" />
            </div>
        </nav>
        <main role="main" id="right-col" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="row">
                <div class="col-md-12">
                    <ChartManager />
                </div>
            </div>
        </main>
    </div>
</div>