#locale-tree {
    height: 70vh;
}

#plot-picker {
    height: 15vh;
}

.list-group-item {
    padding: 0.5rem 0.75rem;
}

.list-group-item-county {
    padding: 0.25rem 0.5rem;
}

li > ul {
    margin-top: 0.5rem;
    margin-left: 1.0rem;
}