<h3>Locations
    <button class="btn btn-outline-dark btn-sm" {{on "click" this.clear }}>
        Clear
    </button>
</h3>
<ul class="list-group overflow-auto" id="{{@id}}">
    {{#each @states as |state|}}
    <LocaleTreeState @state={{state}} />
    {{/each}}
</ul>