<h3>Options</h3>
<form>
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <Input id="startDate" @type="date" type="date" class="form-control" @value={{this.config.startDate}} />
        <label for="endDate">End Date</label>
        <Input id="endDate" @type="date" type="date" class="form-control" @value={{this.config.endDate}} />
    </div>

    <div class="form-check">
        <Input @type="checkbox" class="form-check-input" id="per-capita" @checked={{this.isPerCapita}}
            {{on "click" this.onPerCapitaChanged }} />
        <label class="form-check-label" for="per-capita">Per Capita</label>
    </div>
</form>